<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">
      <img src="assets/logo.png" width="30" height="30" style="margin-left: 20px;" class="d-inline-block align-top" alt="">
    Tourist Website
    </a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/showtourist">Show Tourist</a>
        </li>
    </ul>
    <form class="form-inline">
        <button class="btn btn-outline-success" type="button" routerLink="/registertourist">Register Tourist</button>
    </form>
</nav>